<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{asset('bundles/martontopcars/css/stylesheet.css')}}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="{{ asset('bundles/martontopcars/js/jquery-2.1.1.min.js') }}"></script>
        <script src="{{ asset('bundles/martontopcars/js/marton.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
