
{% extends 'MartonTopCarsBundle:Default:index.html.twig' %}

{% block active_tab_cars %} active{% endblock %}

{% block dash_line %}
    <div class="dash_line"></div>
{% endblock %}

{% block content %}

    <div class="content shadow">
        <div class="container" id="card_game">

            <div class="header_content cars_header">

                <div class="header-image" style="background: url({{ asset('bundles/martontopcars/images/src/') }}{% block cars_image %}{% endblock %})">

                </div>

                <div class="car_lots">
                    <a {% block active_garage %}{% endblock %} href="{{ path('marton_topcars_garage') }}">
                        <p>My Garage</p>
                    </a>

                    <a {% block active_dealership %}{% endblock %} href="{{ path('marton_topcars_dealership', {'option': 'available'}) }}">
                        <p>Dealership</p>
                    </a>

                    <a {% block active_pending %}{% endblock %} href="{{ path('marton_topcars_pending') }}">
                        <p>Pending</p>
                    </a>

                </div>

            </div>


            <!-- Unique page content -->
            {% block subpage %}
            {% endblock %}


        </div>
    </div>

{% endblock %}

{% block background %}{% endblock %}