{% extends 'MartonTopCarsBundle:Default:index.html.twig' %}

{% block dash_line %}
    <div class="dash_line"></div>
{% endblock %}

{% block content %}

    <div class="content right">

        <div class="small_container shadow">

            <div class="div_form">

                {{ form(form) }}

            </div>

        </div>

    </div>

{% endblock %}

{% block background %}{% endblock %}