body{
    margin: 0px;
}

* {
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a{
    color:#333;
    text-decoration: none;
}

a:visited{
    color:#333;
    text-decoration: none;
}

p{
    font-family: sans-serif;
}

h1{
    font-size: 18px;
    text-align: left;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom:15px;
    margin-top: 15px;
    border-bottom: 1px solid rgb(230, 230, 230);
}
h2{
    text-align: left;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    margin: 10px 20px;
}
h4{
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom:5px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(230, 230, 230);
    margin-left:20px;
    margin-right:20px;
}

.top_header{
    text-align: center;
    line-height:50px;
    height:50px;
    font-size:20px;
}

.top_header a{
    color: white !important;
}

.top_header ul li{
    display: inline-block;
    list-style: none;
    width: 120px;
    float: right;
    margin: 0px;
    padding: 0px;

    white-space: nowrap;
    border-right: 1px solid black;
    /*border-left: 1px solid rgba(255,255,255,0.2);*/
    text-align: center;
    color: #FFF;
    font-size: inherit;
    position: relative;

    background: rgba(85, 85, 85, 0.44);
}

.top_header ul li a{
    text-shadow: 1px 1px 2px black;
    display: block;
    font-size: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
}

.top_header ul li a:hover{
    background: rgba(0, 0, 0, 0.25);
}

.top_header_active{
    background: rgba(0, 173, 255, 0.3) !important;
}

.red{
    background: rgba(255, 0, 0, 0.3) !important;
}
.red:hover{
    background: rgba(255, 0, 0, 0.6) !important;
}

.user_info{
    white-space: normal;
    display:inline-block;
    float:left;
}

.user_info p{
    padding:0px 10px 0px 10px;
    line-height: 50px;
    font-size: 15px;
    color:rgb(107, 107, 107);
}

.menu{
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}

.dashboard{
    background: grey;
    min-height: 70px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background: url(../images/src/dashboard.png) repeat-x;
    overflow-x: hidden;
    /*border-top: 1px solid rgb(207, 207, 207);
    border-bottom: 1px solid rgb(207, 207, 207);*/
    color: #333;
    text-shadow: 0px 0px 1px rgb(216, 216, 216);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dashboard ul{
    margin: 0px auto 0px auto;
    width:1024px;
}
.dashboard ul:after{
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    width: 1px;
    height: 70px;
    background-color: rgb(207, 207, 207);
    margin: 0 0 0 1023px;
}

.dashboard ul li{
    display: inline-block;
    list-style: none;
    width:25%;
    float: left;
    margin: 0px;
    padding: 0px;
}
.dashboard ul li .dashboard_tabs:before{
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    width: 1px;
    height: 70px;
    background: rgb(207, 207, 207);
}

.dashboard ul li .dashboard_tabs{
    line-height: 70px;
    font-size: 22px;
    min-height: 70px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: auto;
    color:#444;
    transition: color .25s ease;
}
.dashboard ul li:hover > .dashboard_tabs{
    background: url(../images/src/dashboard_active.png) repeat-x;
    color:white !important;
}

.dashboard ul li:hover > .dashboard_tabs:before{
    background: none;
}

.dashboard ul li .active{
    background: url(../images/src/dashboard_active.png) repeat-x;
    color:white !important;
}

.dashboard ul li .active:before{
    background: none;
}

.dash_line{
    height: 8px;
    background: rgb(60, 60, 60);
}

.shadow{
    box-shadow: 0px 2px 12px rgba(14, 14, 14, 0.5);
}

.copyright{
    font-size:11px;
    color:rgba(70, 70, 70, 0.6);
    margin:10px auto;
    padding-right:10px;
    text-align: right;
    width:1024px;
}

/* Pages */

.content{
    position: relative;
    z-index: 0;
    margin: auto;
    width:1024px;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    padding-top:20px;
    padding-bottom:20px;
}

.shadow{
    box-shadow: 0px 2px 12px rgba(14, 14, 14, 0.5);
}

.right{
    text-align: right !important;
}

.left{
    text-align: left !important;
}

.container{
    background:white;
    margin-top:-20px;
    padding-top:20px;
    margin-bottom:-20px;
    padding-bottom: 20px;
}

.small_container{
    background: white;
    margin-top: -5px;
    padding-top: 5px;
    margin-bottom: -20px;
    padding-bottom: 20px;
    width: 50%;
    display: inline-block;
}

/* Registration */
.div_form{
    text-align: right !important;
    padding:15px;
}

.div_form label{
    text-align: left;
    display: inline-block;
    width: 30%;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    margin-bottom: 10px;
    vertical-align: top;
}

.div_form input{
    width: 68%;
    height: 24px;
    border-radius: 2px;
    margin-bottom: 10px;
    background: rgba(195, 198, 255, 0.39);
    border: solid 1px rgb(184, 184, 184);
}

.div_form input[type='checkbox'] {
    width: 20px !important;
}

.div_form a{
    line-height: 24px;
    /* height: 24px !important; */
    vertical-align: top;
    margin-bottom: 10px;
    display: inline-block;
}

.div_form textarea{
    width: 68%;
    height: 100px;
    border-radius: 2px;
    margin-bottom: 10px;
    background: rgba(195, 198, 255, 0.39);
    border: solid 1px rgb(184, 184, 184);
}

.div_form button{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 2px;
    padding: 4px 15px;
    font-weight: bold;
    background: -webkit-linear-gradient(top,#FFFFFF,#DFDFDF);
    background: -moz-linear-gradient(top, #FFFFFF, #DFDFDF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #DFDFDF);
    background-image: -o-linear-gradient(top, #FFFFFF, #DFDFDF);
    background-image: linear-gradient(to bottom, #FFFFFF, #DFDFDF);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DFDFDF));
    cursor: pointer;
    transition: background 1s ease-out;
}

.div_form button:hover{
    background: white;
    background: white;
    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
}

.success{
    padding: 10px;
    background: rgb(218, 255, 203);
    color: rgb(0, 94, 0);
    font-weight: bold;
    border: 1px solid rgba(94, 156, 0, 0.17);
    border-radius: 2px;
    text-align: center;
}

.success p{
    font-weight: normal;
}

/* Cars Page */
.header_content{
    height: 110px;
    position: relative;
    margin-top: -18px;
}

.header_content .car_lots{
    line-height: 44px;
    display: inline-block;
    width: 100%;
}

.header_content .car_lots a{
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    width: 40%;
    height: 53px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6), 1px 1px 15px rgba(0, 0, 0, 0.7);
    opacity: 0.5;
    margin-top: 30px;
    margin-right: 25px;
    margin-left: 25px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
    vertical-align:top;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.15s all ease-out;
}

.header_content .car_lots a:hover, .header_content .car_lots .active{
    opacity:1;
    text-shadow: none;
    color: black;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
.header_content .car_lots .active{
    font-size: 24px;
}
.header_content .car_lots a p{
    margin-left: 12px;
    margin-top: -40px;
}