body{
    margin: 0px;
    overflow-y: scroll;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a{
    color:#333;
    text-decoration: none;
}

a:visited{
    color:#333;
    text-decoration: none;
}

p{
    font-family: sans-serif;
}

h1{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-left: 15px;
}
h2{
    text-align: left;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    margin: 10px 20px;
}
h4{
    font-size: 12px;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom:5px;
}
h5{
    font-size: 18px;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid rgb(230, 230, 230);
    margin: 15px 15px 5px 15px;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(230, 230, 230);
    margin-left:20px;
    margin-right:20px;
}

input{
    color: grey;
}

.input_active{
    color:black !important;
}

/* Buttons */

.button-blue{
    color: white !important;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    background: rgba(0, 119, 255, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    transition: 0.15s all ease-out;
}

.button-blue:hover, .button-blue.active{
    background: rgba(91, 161, 219, 0.8);
    border: 1px solid rgb(102, 102, 102);
}

.button-yellow{
    background: rgba(255,213,0,1);
    background: -moz-linear-gradient(top, rgba(255,213,0,1) 0%, rgba(255,155,0,0.94) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,213,0,1)), color-stop(100%, rgba(255,155,0,0.94)));
    background: -webkit-linear-gradient(top, rgba(255,213,0,1) 0%, rgba(255,155,0,0.94) 100%);
    background: -o-linear-gradient(top, rgba(255,213,0,1) 0%, rgba(255,155,0,0.94) 100%);
    background: -ms-linear-gradient(top, rgba(255,213,0,1) 0%, rgba(255,155,0,0.94) 100%);
    background: linear-gradient(to bottom, rgba(255,213,0,1) 0%, rgba(255,155,0,0.94) 100%);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-right: none;
    border-top: none;
    border-radius: 2px;
    font-weight: bold;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.41);
    display: inline-block;
    color: white !important;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
.button-yellow:hover{
    background: rgba(255,213,0,1);
    border-left: 1px solid rgba(0, 0, 0, 0.0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);
}

.button-yellow.active{
    background: rgba(255,213,0,1);
    border-left: 1px solid rgba(0, 0, 0, 0.0);
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);
}

.button-save{
    padding: 8px 14px 8px 14px;;
    border: none;
    background-color: rgb(67, 124, 211);
    color: white;
    cursor: pointer;
}

.button-save:hover{
    background-color: rgb(88, 144, 229);
}

.button-cancel{
    padding: 8px 14px 8px 14px;;
    border: none;
    background-color: rgb(131, 131, 131);
    color: white;
    cursor: pointer;
}

.button-cancel:hover{
    background-color: rgb(148, 148, 148);
}

/* Forms */

.form-error{
    margin-bottom: 5px;
}

.form-error ul{
    list-style: none;
    font-size: 14px;
    padding: 2px 5px 2px 5px;
    border: 1px solid rgba(255, 0, 0, 0.4);
    background: rgba(255, 0, 0, 0.1);
    color: rgb(223, 0, 0);
    font-weight: bold;
    border-radius: 2px;
}

.loading-box-container{
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}

#loading-box{
    width: 50px;
    height:50px;
    display:none;
    margin:auto;
    background:url(../images/src/loading.gif);
    background-repeat:no-repeat;
    background-size: cover;
}

.top_header{
    text-align: center;
    line-height:50px;
    height:50px;
    font-size:20px;
}

.top_header a{
    color: white !important;
}

.top_header ul li{
    display: inline-block;
    list-style: none;
    width: 120px;
    float: right;
    margin: 0px;
    padding: 0px;

    white-space: nowrap;
    border-right: 1px solid black;
    /*border-left: 1px solid rgba(255,255,255,0.2);*/
    text-align: center;
    color: #FFF;
    font-size: inherit;
    position: relative;

    background: rgba(85, 85, 85, 0.44);
}

.top_header ul li a{
    text-shadow: 1px 1px 2px black;
    display: block;
    font-size: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
}

.top_header ul li a:hover{
    background: rgba(0, 0, 0, 0.25);
}

.top_header_active{
    background: rgba(0, 173, 255, 0.3) !important;
}

.red{
    background: rgba(255, 0, 0, 0.3) !important;
}
.red:hover{
    background: rgba(255, 0, 0, 0.6) !important;
}

.user_info{
    white-space: normal;
    display:inline-block;
    float:left;
}

.user_info p{
    padding:0px 10px 0px 10px;
    line-height: 50px;
    font-size: 15px;
    color:rgb(107, 107, 107);
}

.menu{
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}

.dashboard{
    background: grey;
    min-height: 70px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    background: url(../images/src/dashboard.png) repeat-x;
    overflow-x: hidden;
    /*border-top: 1px solid rgb(207, 207, 207);
    border-bottom: 1px solid rgb(207, 207, 207);*/
    color: #333;
    text-shadow: 0px 0px 1px rgb(216, 216, 216);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dashboard ul{
    margin: 0px auto 0px auto;
    width:1024px;
}
.dashboard ul:after{
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    width: 1px;
    height: 70px;
    background-color: rgb(207, 207, 207);
    margin: 0 0 0 1023px;
}

.dashboard ul li{
    display: inline-block;
    list-style: none;
    width:25%;
    float: left;
    margin: 0px;
    padding: 0px;
}
.dashboard ul li .dashboard_tabs:before{
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    width: 1px;
    height: 70px;
    background: rgb(207, 207, 207);
}

.dashboard ul li .dashboard_tabs{
    line-height: 70px;
    font-size: 22px;
    min-height: 70px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    width: auto;
    color:#444;
    transition: color .25s ease;
}
.dashboard ul li:hover > .dashboard_tabs{
    background: url(../images/src/dashboard_active.png) repeat-x;
    color:white !important;
}

.dashboard ul li:hover > .dashboard_tabs:before{
    background: none;
}

.dashboard ul li .active{
    background: url(../images/src/dashboard_active.png) repeat-x;
    color:white !important;
}

.dashboard ul li .active:before{
    background: none;
}

.dash_line{
    height: 8px;
    background: rgb(60, 60, 60);
}

.shadow{
    box-shadow: 0px 2px 12px rgba(14, 14, 14, 0.5);
}

.copyright{
    font-size:11px;
    color:rgba(70, 70, 70, 0.6);
    margin:10px auto;
    padding-right:10px;
    text-align: right;
    width:1024px;
}


/* Loading Circle */

.loading_container{
    position: fixed;
    z-index: -1;
    width: 108px;
    height: 100px;
    margin-left:-108px;
    margin-top:-100px;
    top: 50%;
    left: 50%;
    background:url(../images/src/loading.gif);
}

.progress_p{
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    color: grey;
}

/* Pages */

.content{
    position: relative;
    z-index: 0;
    margin: auto;
    width:1024px;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
}

.shadow{
    box-shadow: 0px 2px 12px rgba(14, 14, 14, 0.5);
}

.right{
    text-align: right !important;
}

.left{
    text-align: left !important;
}

.container{
    background: #f4f4f4;
}

.small_container{
    background: white;
    margin-top: -5px;
    padding-top: 5px;
    margin-bottom: -20px;
    padding-bottom: 20px;
    width: 50%;
    display: inline-block;
}

/* Registration */
.div_form{
    text-align: right !important;
    padding:15px;
}

.div_form label{
    text-align: left;
    display: inline-block;
    width: 30%;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    margin-bottom: 10px;
    vertical-align: top;
}

.div_form input{
    width: 68%;
    height: 24px;
    border-radius: 2px;
    margin-bottom: 10px;
    background: rgba(195, 198, 255, 0.39);
    border: solid 1px rgb(184, 184, 184);
}

.div_form input[type='checkbox'] {
    width: 20px !important;
}

.div_form a{
    line-height: 24px;
    /* height: 24px !important; */
    vertical-align: top;
    margin-bottom: 10px;
    display: inline-block;
}

.div_form textarea{
    width: 68%;
    height: 100px;
    border-radius: 2px;
    margin-bottom: 10px;
    background: rgba(195, 198, 255, 0.39);
    border: solid 1px rgb(184, 184, 184);
}

.div_form button{
    border: 1px solid rgb(221, 221, 221);
    border-radius: 2px;
    padding: 4px 15px;
    font-weight: bold;
    background: -webkit-linear-gradient(top,#FFFFFF,#DFDFDF);
    background: -moz-linear-gradient(top, #FFFFFF, #DFDFDF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #DFDFDF);
    background-image: -o-linear-gradient(top, #FFFFFF, #DFDFDF);
    background-image: linear-gradient(to bottom, #FFFFFF, #DFDFDF);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DFDFDF));
    cursor: pointer;
    transition: background 1s ease-out;
}

.div_form button:hover{
    background: white;
    background: white;
    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: linear-gradient(to bottom, #FFFFFF, #FFFFFF);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
}

.success{
    padding: 10px;
    background: rgb(218, 255, 203);
    color: rgb(0, 94, 0);
    font-weight: bold;
    border: 1px solid rgba(94, 156, 0, 0.17);
    border-radius: 2px;
    text-align: center;
}

.success p{
    font-weight: normal;
}

.error{
    list-style: none;
    font-size: 14px;
    padding: 2px 5px 2px 5px;
    border: 1px solid rgba(255, 0, 0, 0.4);
    background: rgba(255, 0, 0, 0.1);
    color: rgb(223, 0, 0);
    font-weight: bold;
    border-radius: 2px;
    margin-botom: 5px;
}

/* Game Page */

.game_header{
    z-index: 1;
    position: relative;
}

.settings{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display:none;
}
.settings_content{
    color: rgba(0, 0, 0, 0.8);
    background: white;
    display: block;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.75);
    padding: 30px;
    text-align: left;
    position: relative;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.settings h2{
    margin:0 !important;
}

.settings hr{
    margin: 0 !important;
}

.settings .setting_label{
    display:inline-block;
    width: 40%;
}

.settings .setting_input{
    display:inline-block;
    width: 40%;
}

.settings button{
    border: none;
    background: grey;
    color:white;
    padding:5px;
    cursor:pointer;
}

.settings button:hover{
    background: rgba(128, 128, 128, 0.80);
}

.battlefield{
}

.top_panel{
    margin: 40px auto 10px auto;
    width: 80%;
    height: 50px;
    text-align: center;
    position: relative;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background: white;
}
.level_bar{
    line-height: 50px;
}
.level_score{
    display: inline-block;
    z-index: 5;
    line-height: 30px;
    vertical-align: top;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.text_left{
    text-align: left;
}

.text_right{
    text-align: right;
}

.score_bar{
    height:20px;
    width:600px;
    text-align: left;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    margin-left:auto;
    margin-right:auto;
    background: rgba(160, 160, 160, 0.21);
}
.score_bar .fill{
    height: 100%;
    background: rgba(0, 86, 196, 0.48);
    width: 0;
    border-radius: 2px;
    display: inline-block;
    vertical-align: top;
}
.card_block{
    display:inline-block;
    vertical-align: top;
    width: 252px;
    height: 372px;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(221, 221, 221);
}
.player_controls{
    display: inline-block;
    width: 75px;
    height: 354px;
    padding-top: 20px;
    vertical-align: top;
}
.streak_container{
    width: 75px;
    height: 75px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 2px;
    background:white;
}
.streak_container p {
    color: grey;
    line-height: 75px;
    font-size: 25px;
    font-weight: bold;
}
.card_fragment{
    display: inline-block;
    min-width: 260px;
    width: 30%;
    margin-top: 20px;
}
.player_card{
    width: 240px;
    padding: 10px 5px 10px 5px;
    margin:auto;
    display: none;
    text-align: center;
}
.card_name{
    text-align:center;
    padding: 5px 0px 5px 0px;
    font-size: 14px;
    height:14px;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    color: black;
}
.card_image{
    padding: 5px 0px 5px 0px;
    height: 153px;
    margin-bottom: 15px;
    position:relative;
}

.card_image:hover .card-image-add{
    opacity:1;
}
.card-image-add{
    background-image: url('../images/src/add.png');
    background-color: rgba(255, 255, 255, 0.40);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity:0;
    transition: 0.15s all ease-out;
    cursor: pointer;
}

.card_row{
    padding: 2px;
    margin-top: 8px;
    border-radius: 2px;
    cursor:pointer;
    transition: all 0.1s ease-out;
    position: relative;
}
.card_row:hover{
    background: rgba(0, 0, 0, 0.08);
}
.card_row span{
    display:inline-block;
    width:30%;
    text-align: center;
}

.card_row_subscore{
    height: 16px;
    width: 40px;
    padding: 5px;
    position: absolute;
    right: 10%;
    opacity: 0.8;
    border-radius: 2px;
    display:none;
}

.score_red{
    background: rgba(255, 19, 0, 0.40);
    color: rgb(216, 0, 29);
}
.row_red{
    background: rgba(255, 19, 0, 0.7) !important;
    color: rgb(255, 255, 255);
}
.score_green{
    background: rgba(102, 255, 0, 0.4);
    color: rgb(5, 124, 0);
}
.row_green{
    background: rgba(12, 150, 0, 0.7) !important;
    color: rgb(255, 255, 255);
}
.row_draw{
    background: rgba(255, 173, 0, 0.7) !important;
    color: rgb(255, 255, 255);
}
.row_label{
    width: 38% !important;
    text-align: left !important;
}
.row_unit{
    width: 25% !important;
    text-align: right !important;
}

.battlefield .bt{
    background: rgb(188,188,188); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(228, 228, 228, 1) 0%, rgba(243, 243, 243, 1) 35%, rgba(243, 243, 243, 1) 59%, rgba(228, 228, 228, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(228, 228, 228, 1)), color-stop(35%,rgba(228, 228, 228, 1)), color-stop(59%,rgba(228, 228, 228, 1)), color-stop(100%,rgba(228, 228, 228, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(228, 228, 228, 1) 0%,rgba(243, 243, 243, 1) 35%,rgba(243, 243, 243, 1) 59%,rgba(228, 228, 228, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(228, 228, 228, 1) 0%,rgba(243, 243, 243, 1) 35%,rgba(243, 243, 243, 1) 59%,rgba(228, 228, 228, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(228, 228, 228, 1) 0%,rgba(243, 243, 243, 1) 35%,rgba(243, 243, 243, 1) 59%,rgba(228, 228, 228, 1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(228, 228, 228, 1) 0%,rgba(243, 243, 243, 1) 35%,rgba(243, 243, 243, 1) 59%,rgba(228, 228, 228, 1) 100%);


    padding: 5px;
    display: none;
    width: 65px;
    color: rgb(129, 129, 129);
    box-shadow: 0px 1px 5px rgb(165, 165, 165);
    text-shadow: 1px 0px 12px white;
    line-height: 30px;
    height: 35px;
    cursor: pointer;
}
.battlefield .bt:hover{
    box-shadow: 0px 1px 5px rgba(165, 165, 165, 0.31);
}

/* Leaderboard Page*/

.card_table{
    border-radius: 2px;
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
}

.card_table .avatar{
    display: inline-block;
    height:100%;
    vertical-align: middle;
}
.card_table .avatar a{
    display: block;
}
.card_table img{
    display: block;
}
.card_table .avatar{
    opacity:0.8;
}
.card_table tr:hover .avatar{
    opacity: 1;
}
.card_table tr:hover{
    background: rgba(0, 136, 250, 0.05);
}

.card_table a{
    color: rgba(0, 0, 0, 0.75) !important;
    font-weight: bold;
    display:inline-block;
}

.card_table a:hover{
    color: rgba(0, 0, 0, 1) !important;
}

.card_table .tr_header{
    background:transparent !important;
}
.card_table tbody, tr{
    width:100%;
    line-height: 100%;
}

.card_table th{
    text-align: center;
    font-size: 14px;
    color: grey;
    padding:5px;
}

.card_table td{
    text-align: center;
    padding:5px;
    border-right: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
}

/* User Page */
.user{
    background: #f4f4f4;
    padding: 14px;
}

.user_header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 60px;
    width: 100%;
    background: rgba(0, 0, 0, 0.65);
    display: inline-block;
}

.profile_header{
    line-height:45px;
    height:60px;
}
.user_name{
    display:inline-block;
}

.stats_block{
    background: white;
    padding: 12px;
    width: 94%;
    border: 1px solid #e8e8e8;
    margin: auto;
}
.user_profile{
    z-index:1;
    position:relative;
}
.user_column{
    display: inline-block;
}

.user_left{
    width: 24%;
    float: left;
}
.user_left img{
    box-shadow: 0 0 10px black;
    display:block;
    margin:auto;
    margin-bottom: 10px;
}

.user_roles{
    display:block;
    font-size:11px;
    font-weight:bold;
    line-height:11px;
    background: rgba(15,44,158,0);
    background: -moz-linear-gradient(left, rgba(15,44,158,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(15,44,158,0)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(15,44,158,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(15,44,158,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(15,44,158,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
    background: linear-gradient(to right, rgba(15,44,158,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
}

.user_right{
    width: 75%;
    text-align: left;
}

.user_profile h3{
    color:white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/**/

.stats_general{
    display:inline-block;
    vertical-align: top;
    width: 49%;
}
.stats_general table p{
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
}
.stats_general table h4{
    color: rgba(0, 0, 0, 1) !important;
    margin-left: 35px;
}
.stats_general table td{
    margin-bottom: 5px;
}
.stats_right{
    display:inline-block;
    vertical-align:top;
    width: 49%;
}
.stats_right .stat_box{
    width: 100px;
    display:inline-block;
    vertical-align: top;
}
.stat_box p{
    text-align:center;
    font-size:12px;
    color:grey;
}
.stat_val_big{
    font-size: 30px !important;
    font-weight: bold !important;
}
.stats_graphics{
    display: table;
    width: 100%;
    height: 20px;
    text-align: center;
    margin-bottom: 5px;
}

.meter_frame{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    position:relative;
}
.stats_meter{
    width: 100%;
    height: 70%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    position:relative;
    background: rgba(252,252,252,1);
    background: -moz-linear-gradient(left, rgba(252,252,252,1) 0%, rgba(38,115,176,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,252,252,1)), color-stop(100%, rgba(38,115,176,1)));
    background: -webkit-linear-gradient(left, rgba(252,252,252,1) 0%, rgba(38,115,176,1) 100%);
    background: -o-linear-gradient(left, rgba(252,252,252,1) 0%, rgba(38,115,176,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,252,252,1) 0%, rgba(38,115,176,1) 100%);
    background: linear-gradient(to right, rgba(252,252,252,1) 0%, rgba(38,115,176,1) 100%);
}
.stats_lever{
    width:1px;
    height: 100%;
    background: black;
    position:absolute;
    border-left: 1px solid rgb(189, 189, 189);
    border-right: 1px solid rgb(189, 189, 189);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    top:0;
}

/* Cars Page */
.header_content{
    position: relative;
}

.header-image{
    background: black;
    height:100px;
    background:url('../images/src/dealership.jpg');
}

.header_content .car_lots{
    line-height: 44px;
    display: inline-block;
    width: 100%;
    background: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    border-top: 1px solid rgba(0, 0, 0, 0.75);
}

.header_content .car_lots a{
    width:20%;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    border-radius: 0;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 1), 1px 1px 15px rgba(0, 0, 0, 1);
    opacity: 0.5;
    margin-right: 20px;
    margin-left: 20px;
    vertical-align:top;
    transition: 0.15s all ease-out;
}

.header_content .car_lots a:hover, .header_content .car_lots .active{
    opacity:1;
    text-shadow: none;
    color: black;
}
.header_content .car_lots .active{
    font-size: 24px;
}
.header_content .car_lots a p{
    text-align: center;
}

.submenu{
    border-bottom: 1px solid rgb(230, 230, 230);
    line-height: 35px;
}

.info_dialog{
    color: rgba(0, 0, 0, 0.38);
    font-weight: bold;
    font-size: 150%;
}

.user_footer{
    position: fixed;
    z-index: 3;
    bottom: 0;
    height: 50px;
    width: 1024px;
    background: rgba(27, 27, 27, 0.9);
}

.user_footer .user_level{
    float:none !important;
    line-height: 40px;
    position: relative;
}

.cars{
    margin-top: 40px;
}
.card_frame{
    margin: 5px;
    padding: 15px;
    display: inline-block;
    border: 1px solid rgba(179, 179, 179, 0.25);
    vertical-align: top;
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: 0.15s all ease-out;
}

.garage-card{
    border: 3px solid rgba(179, 179, 179, 0.25);
}

.garage-card:hover{
    border: 3px solid rgba(40, 40, 40, 0.25);
    box-shadow: inset 0 0 5px rgba(40, 40, 40, 0.25);
    opacity: 0.9;
}

.selected-card{
    border: 3px solid rgba(0, 47, 147, 0.37) !important;
}

.frame_content{
    position: relative;
    width: 230px;
    height: 153px;
    margin: auto;
}

.frame_content:hover .frame_price{
    opacity:1;
}

.frame_content:hover .card_title_background{
    opacity:1;
}

.frame_content:hover .card_title_actions{
    opacity:1;
}

.card_title_background{
    z-index: 3;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: rgba(0, 0, 0, 0.50);
    opacity:0;
    transition: 0.15s all ease-out;
}

.card_title{
    z-index: 4;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.25) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.25)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.25) 100%);
    text-align:left;
    font-size: 10px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.card_title_actions{
    width: auto;
    text-align:right;
    opacity: 1;
    z-index:4;
    position: absolute;
    bottom:0;
    right:0;
    transition: 0.15s all ease-out;
    font-size:0;
}

.sold_frame{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.frame_price{
    white-space: nowrap;
    overflow: hidden;
    width: 230px;
    height: 153px;
    display: inline-block;
    margin: auto;
    position: absolute;
    background: rgba(0, 0, 0, 0.70);
    color: white;
    font-weight: bold;
    text-shadow: 0 0 15px black;
    line-height: 153px;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
    font-size: 0;
    transition: 0.15s all ease-out;
}

.frame_price div{
    line-height: 15px;
}

.frame_buy{
    margin-top: 20%;
    display:inline-block;
    vertical-align:top;
    width: 100%;
    font-size: 16px;
}

.frame_buy div{
    margin-top: 10%;
}
.frame_buy .sold{
    color:green;
}

.frame_model{
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
}

.frame_details{
    font-size: 9px;
    overflow: hidden;
    margin: 2px;
}

.user_panel{
    height: 28px;
    line-height: 28px;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.75);
    margin-top: 18px;
    margin-bottom: 20px;
}

.user_panel span{
    margin-left: 10%;
    display: inline-block;
    border-left: 1px solid rgb(242, 242, 242);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    line-height: 28px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    width: 10%;
    border-radius: 1px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
}

.user_level{
    display: inline-block;
    color: rgb(234, 160, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-right: 35px;
}
.user_level p{
    display:inline-block;
    margin-left: 5px;
}
.user_level div{
    display: inline-block;
}
.user_level .card_row_subscore{
    font-size:18px;
    line-height: 18px;
    margin-right: -70px;
}
.p_level{
    color:white;
    font-size: 14px;
}
.p_level_val{
    border-radius: 50%;
    text-align: center;
    width: 35px;
}

/* Suggest Page */

.img_upload{
    display:block;
}

.visible{
    display:inherit;
}

.card_fragment input{
    width:100%;
    text-align:center;
}

.card_name input{
    width: 98%;
}

.card_image input{
    z-index: -1;
}

.card_suggest{
    position:relative;
}

.card_suggest .card_row{
    cursor: default;
}

.popup-body .card_fragment{
    display: block;
    margin: auto;
}

.popup-body{
    margin: 20px;
    display:none;
}

.input-comment{
    height: 50px;
    width: 60%;
    border: 1px solid rgb(224, 224, 224);
    background-color: rgb(245, 252, 255);
    padding: 2px;
    color: grey;
    font-weight: bold;
    transition: 0.15s all ease-out;
}

.input-comment:focus{
    box-shadow: 0px 0px 10px rgba(0, 139, 255, 0.3);
    outline: 1px solid rgba(0, 139, 255, 0.1);
    background-color: white;
    color:black
}

.input-file{
    position: absolute;
    left: 0;
    top: 0;
    z-index: -5;
}

/* Pending Page */

.tool-bar{
    text-align: right;
    padding: 5px 0px 5px 0px;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
    background: rgba(255, 255, 255, 0.49);
}

.author{
    margin-left: 10px;
}

.vote p{
    display: inline-block;
    font-size: 20px;
}

.frame_content:hover .action_div{
    font-size: 20px;
    line-height: 30px;
    width: 40px;
}

.action_div{
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    width: 22px;
    text-align: center;
    transition: 0.15s all ease-out;
}

.action_div p{
    font-weight: bold;
    cursor: pointer;
}

.vote .vote_count{
    padding: 15px;
    line-height: 10px;
    font-weight: bold;
    color: grey;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: white;
    position: absolute;
    top: -20px;
    right: -20px;
    border-radius: 30px;
}

.upvote{
    color: rgba(27, 27, 27, 0.5);
    background: rgba(255, 255, 255, 0.65);
}

.upvote:hover{
    background: rgba(255, 255, 255, 0.9);
}

.plus{
    background: rgb(84, 161, 0) !important;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
}

.vote_load{
    bottom: 0;
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
}

.no_display{
    display:none;
}

.card_frame .image{
    cursor:pointer;
}

.card_frame  .image:hover{
    opacity: 0.85;
    transition: 0.15s all ease-out;
}

.admin_tasks{
    font-size: 0;
    display: table;
    width: 230px;
    table-layout: fixed;
}

.admin_tasks span{
    transition: 0.15s all ease-out;
}

.admin_tasks span:hover{
    color:white
}

.admin_tasks .accept{
    background: rgb(106, 173, 92);
}

.admin_tasks .accept:hover{
    background: rgb(46, 173, 63);
}

.admin_tasks .edit{
    background: rgba(224, 173, 63, 0.65);
}

.admin_tasks .edit:hover{
    background: rgba(231, 151, 15, 0.65);
}

.admin_tasks .delete{
    background: rgb(215, 108, 108);
}

.admin_tasks .delete:hover{
    background: rgb(203, 65, 55);
}

.card_frame .admin_action{
    font-size: 14px;
    display: table-cell;
    cursor: pointer;
    color: rgb(39, 39, 39);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
}

.card_frame .admin_action:hover{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.card_frame .min{
    height:0;
}

.popup{
    display:none;
    position:fixed;
    z-index:5;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: black;
    background: rgba(0, 0, 0, 0.3);
    text-align:center;
}

.popup-tools{
    text-align: right;
    display: block;
    margin: 5px;
}

.popup-tools span{
    cursor: pointer;
    opacity: 0.4;
    color: rgb(0, 0, 0);
    font-weight: bold;
    vertical-align: top;
    display: inline-block;
    height: 20px;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.24);
    transition: 0.15s all ease-out;
}

.popup-tools span:hover{
    opacity: 1;
}

.popup-content{
    display: inline-block;
    margin: 10% auto auto auto;
    background: white;
    width: 35%;
    min-width: 500px;
}